<?xml version="1.0" encoding="UTF-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<targets>
		<!-- https://github.com/NLog/NLog/wiki/File-target -->
		<target xsi:type="File" name="LogFileTarget1"
			encoding="UTF8"
			lineEnding="LF"
			fileName="${basedir}/logs/R7.Webmate.Xwt.log"
		/>
		<!-- https://github.com/NLog/NLog/wiki/ColoredConsole-target -->
		<target xsi:type="ColoredConsole" name="LogConsoleTarget1" />
	</targets>
	<rules>
		<logger name="*" minlevel="Info" writeTo="LogConsoleTarget1" />
		<logger name="*" minlevel="Debug" writeTo="LogFileTarget1" />
	</rules>
</nlog>
